﻿/* main properties*/
/* mixins*/
/*                  COMMON STYLES                        */
body {
  min-height: 100%;
  font-family: Poppins, "Helvetica Neue",  sans-serif;
  font-size: 16px; 
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none !important; 
}
a:active {
  text-decoration: none !important;
 }
a[disabled="disabled"] {
  cursor: default;
  pointer-events: none;
 }
ul {
  padding: 0px; 
}
li {
  list-style-type: none; 
}
.navbar {
  background-color: black;
  border-radius: 0;
  text-align: center;
}
.navbar .mainMenu li a {
  color: white;
}

.mainMenu {
  display: inline-block;
}

.mainMenu li {
  display: inline-block;
}

.main , .navbar-inner {
  padding: 0 5%;
}


/* Media queries*/
/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

 }

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  

}

/* xs extra small*/
@media only screen and (max-width: 768px) {
 }

